# folders
node_modules
public
build
dist
.next
.vercel

# config-files
package.json
tsconfig.json
yarn.lock
package-lock.json
.eslintrc.js
.gitignore
.prettierignore
.prettierrc

# custom files
*.md
*.log
*.d.ts