.root {
    padding: 5;
    background-color: red;
}
.heading {
    font-size: larger;
    color: #abcded;
    margin-bottom: 10px;
}
.sub-heading {
    font-size: large;
    color: 'silver';
    margin: 5 0;
}
.link {
    margin: 4;
    color: maroon;
    padding: 2;
    background: lawngreen;
}
.formdiv {
    padding: 5 7;
    background-color: royalblue; 
}
.textfield {
    width: max-content;
}
.errText {
    margin-top: 2; 
    color: red;
}
.code {
    color: gray; 
    color: black;
    padding: 1 3;
}
.btn {
    padding: 2 4;
    margin: 2;
    background-color: green;
    color: white;
}